* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(70, 70, 70);
    padding: 15px;
    margin-bottom: 0;
}

.nav-link {
    color: aliceblue;
    margin: 0 10px 10px;
}

.jumbotron {
    background-image: url('https://picsum.photos/1700/500');
    max-height: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    background-image: url('https://picsum.photos/1700/300');
    max-height: 300px;
    height: 100vh;
}

form .container header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: aliceblue;
}

.col-md-6 input, .col-md-6 textarea{
    background-color: transparent;
    border: 2px solid white;
    color: aliceblue;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

input::placeholder,textarea::placeholder{
    color: aliceblue;
}